TP3Graficos-TomasMugetti/\.vs/

TP3Graficos-TomasMugetti/Debug/

TP3Graficos-TomasMugetti/Release/

*.db

TP3Graficos-TomasMugetti/bin/

TP3Graficos-TomasMugetti/TP3Graficos-TomasMugetti/allegro\.log

TP3Graficos-TomasMugetti/TP3Graficos-TomasMugetti/obj/
